<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="textFilterConfidence" value="254"/>
		<add key="connectToDataBase" value="false"/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>

				<binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
				<readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
					
				</binding>

			</basicHttpBinding>
			</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
					<serviceMetadata httpGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>

</configuration>
